@import 'base/variables';

html {
    scroll-behavior: smooth;
    overflow:visible;
}

.landing {
    overflow-x: hidden;
}

* {
    font-family: 'Montserrat';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.container{
    
    max-width: 1140px;
    margin: 0 auto;
    color:#526276;
    position: relative;
    padding: 0 40px;
}
body{
    position: relative;
    overflow-x: hidden;
    color: #526276;
}

.content {
	margin: auto;
	padding: 20px;
	width: 100%;
}
.center .slick-center h3 {
	transform: scale(1);
}

.owl-carousel .owl-item img {
    height: 200px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .container{
        max-width: calc(100% - 30px);
        padding: 0 10px;
    }
}







@import 'blocks/header.scss';
@import 'blocks/about.scss';
@import 'blocks/design.scss';
@import '../dist/css/font.css';
@import 'blocks/advantages';
@import 'blocks/adv.scss';
@import 'blocks/photo.scss';
@import 'blocks/barbeque.scss';
@import 'blocks/offer.scss';
@import 'blocks/contact_form.scss';
@import 'blocks/footer.scss';
@import 'blocks/menu.scss';
@import 'blocks/modal.scss';
@import 'blocks/stone.scss';
@import 'blocks/slick.scss';
@import 'blocks/slick-theme.scss';





@font-face { 
    font-family: "MontserratBold";
    src: url("../dist/fonts/MontserratBold/MontserratBold.eot");
    src: url("../dist/fonts/MontserratBold/MontserratBold.eot?#iefix")format("embedded-opentype"),
    url("../dist/fonts/MontserratBold/MontserratBold.woff") format("woff"),
    url("../dist/fonts/MontserratBold/MontserratBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face { 
    font-family: "MontserratRegular";
    src: url("../dist/fonts/MontserratRegular/MontserratRegular.eot");
    src: url("../dist/fonts/MontserratRegular/MontserratRegular.eot?#iefix")format("embedded-opentype"),
    url("../dist/fonts/MontserratRegular/MontserratRegular.woff") format("woff"),
    url("../dist/fonts/MontserratRegular/MontserratRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face { 
    font-family: "Font Awesome 6 Free";
    src: url("../fontawesome/webfonts/fa-brands-400.woff2") format("woff");
    src: url("../fontawesome/webfonts/fa-regular-400.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
