#advantages {
    padding: 160px 0 50px 0;
    .advantages_header{
        display: flex;
        justify-content: center;
        .advantages_title{
            display: inline-block;
            border-bottom: 2px solid #526276;
            font-size: 35px;
            color: #526276;
            text-align: center;        
            padding-bottom: 20px;
        }
    }
    .advantages_list{
        display: grid;
        grid-template-areas:
    "B B B B G G G G G G H H H H H";
    margin-top: 60px;
    gap:30px;
    
    .advantages_item{
        display: grid;
        grid-template-columns: 14% 1fr;
        grid-template-rows: 1fr;         
        align-items: baseline;
        gap:10px;
        
        
        .advantages_item_img{
            width: 100%;
            font-size: 20px;
            i {
                font-size: 40px;
            }
        }

        .advantages_item_text{
            border-top: 1px solid black;
            padding-top: 8px;
            .advantages_item_header{
                font-size: 22px;
                font-family: Montserrat;
                line-height: 30px;
                color:black;
                font-weight: 600;
            }
            .advantages_item_descr{
                margin-top: 10px;
                font-style: 16px;
                color:black;
                line-height: 25px;
                font-weight: 400;
            }
        }

        &.box-2{
            grid-area: B;
        }
        
        &.box-7{
            grid-area: G;
        }
        &.box-8{
            grid-area: H;
        }
    }


    }
    
    
}
@media (max-width: 1000px) {
    #advantages{
        .advantages_list{
            grid-template-areas:
            "B B B B B B B B B B B B"
            "G G G G G G G G G G G G"
            "H H H H H H H H H H H H";
        }
    }
}