#contact_form{
    padding: 100px 0 ;
    .contact_form_wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 15px;
        .form_title{
            font-size: 24px;
            color:black;
            font-weight: 600;
            line-height: 33px;
            text-align: center;
        }
        .form_descr{
            margin-top: 10px;
            font-size: 15px;
            font-weight: 400;
            text-align: center;
        }
        .form{
            padding: 14px 31px;
            border-top: 1px solid rgba(82, 92, 105, 0.11);
            margin-top: 10px;
            // display: grid;
            // grid-template-columns: 1fr;
            // grid-template-rows: repeat(7, 1fr);
            // gap: 10px;
            .name{
                background-color: rgba(247, 247, 247, 1);
                border-radius: 5px;
                border:none;
                width: 100%;
                height: 52px;
                padding: 15px 35px 0 10px;
            }
            .surname{
                margin-top: 10px;
                background-color: rgba(247, 247, 247, 1);
                border-radius: 5px;
                border:none;
                width: 100%;
                height: 52px;
                padding: 15px 35px 0 10px;
            }
            .phone{
                margin-top: 10px;
                background-color: rgba(247, 247, 247, 1);
                border-radius: 5px;
                border:none;
                width: 100%;
                height: 52px;
                padding: 15px 35px 0 10px;
            }
            .email{
                margin-top: 10px;
                background-color: rgba(247, 247, 247, 1);
                border-radius: 5px;
                border:none;
                width: 100%;
                height: 52px;
                padding: 15px 35px 0 10px;
            }
            .text{
                margin-top: 10px;
                background-color: rgba(247, 247, 247, 1);
                border-radius: 5px;
                border:none;
                width: 100%;
                height: 52px;
                padding: 15px 35px 0 10px;
            }
            .checkbox{
                display: flex;
                align-items: flex-start;
                margin-bottom: 15px;
                input{
                    margin-right: 10px;
                }
                .checkbox_text{
                    font-size: 11px;
                }
            }
            .submit{
                display: block;
                margin: 0 auto;
                background-color: #526276;
                border:none;
                display: flex;
                align-items:center;
                justify-content: center;
                padding: 8px 35px;
                border-radius: 5px;
                font-size:15px;
                font-weight: 600;
                text-transform: uppercase;
                color: white;
                text-decoration: none;
                cursor: pointer;
                &:hover{
                    background-color: hsl(213.33, 18%, 49%);
                }
            }

        }
    }
}
@media (max-width: 800px){
    #contact_form{
        .contact_form_wrapper{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr  1fr;
        }
    }
}
@media (max-width: 600px){
    #contact_form{
        padding: 100px 0 0 0;
    }
}
