#top {
    min-height: 880px;
    background: url(../../img/Bez-imeni-1_1x.jpg);    
    background-position-x: 50%;
    background-position-y: 50%;
    background-size:cover;
    

    .header {        
      
        .header_wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
            .logo{
                display: block;
                width: 180px !important;
                height: 65px !important;
                background-image:url(../../img/01_1x.png);
                background-size:cover;
            }
    
            .menu_list{
                display: grid;
                grid-template-columns: repeat(6, auto);
                gap: 20px;
    
    
                .menu_item {
                    list-style: none;
                    
                    .menu_item_link{
                        color:white;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                }
            }
        }

        .slogan_wrapper{
            margin-top: 300Px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .slogan {
                font-size: 65px;
            }
            .descr {
                font-size: 30px;
            }
            .slogan_buttons{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                margin-top: 30px;
                gap: 20px;
                .more{
                    background-color: #526276;
                    display: flex;
                    align-items:center;
                    justify-content: center;
                    padding: 8px 35px;
                    border-radius: 5px;
                    font-size:15px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: white;
                    text-decoration: none;
                    &:hover{
                        background-color: hsl(213.33, 18%, 49%);;
                    }
                }
                .submit{
                    
                    display: flex;
                    align-items:center;
                    justify-content: center;
                    padding: 8px 35px;
                    border-radius: 5px;
                    font-size:15px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: white;
                    text-decoration: none;
                    border: 1px solid white;
                    &:hover{
                        color:#526276;
                        background-color:white;
                    }
                }
            }
        }

        

    }

}
