#top {
    min-height: 880px;
    background: url(../../img/Bez-imeni-1_1x.jpg);    
    background-position-x: 50%;
    background-position-y: 50%;
    background-size:cover;
    margin-top: -95px;
    padding: 400px 0 0 0 ;
    

    .header {
        .slogan_wrapper{
            
            display: flex;
            flex-direction: column;
            align-items: center;
            .slogan {
                font-size: 65px;
                color:white;
            }
            .descr {
                font-size: 30px;
                color:white;
            }
            .slogan_buttons{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                margin-top: 30px;
                gap: 20px;
                .more{
                    background-color: #526276;
                    display: flex;
                    align-items:center;
                    justify-content: center;
                    padding: 8px 35px;
                    border-radius: 5px;
                    font-size:15px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: white;
                    text-decoration: none;
                    &:hover{
                        background-color: hsl(213.33, 18%, 49%);
                    }
                }
                .submit{
                    
                    display: flex;
                    align-items:center;
                    justify-content: center;
                    padding: 8px 35px;
                    border-radius: 5px;
                    font-size:15px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: white;
                    text-decoration: none;
                    border: 1px solid white;
                    &:hover{
                        color:#526276;
                        background-color:white;
                    }
                }
            }
        }

        

    }

}
