.menu_top_header {
    .header_wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        .logo{
            display: block;
            width: 180px !important;
            height: 65px !important;
            background-image:url(../../img/logo.png);
            background-size:cover;
        }
        .mobile_menu{
            display: none;
            
        }

        .menu_list{
            display: grid;
            grid-template-columns: repeat(6, auto);
            gap: 20px;


            .menu_item {
                list-style: none;
                
                }
                
                .menu_item_link{                    font-size: 14px;
                    color:white;
                    text-transform: uppercase;
                    text-decoration: none;
                    &:hover{
                        color:hsla(0, 0%, 86%, 1);
                    
                    
                }
            }
        }
    }

}

.menu_top_header.sticky {       
    animation-name: identifier;
    animation-duration: .5s;
    top: 0;
    position: fixed;        
    background-color:white;        
    width: 100%;    
    z-index: 1;
    border-bottom: 1px solid #d9d9d9;
    .logo {
        width: 100px !important;
        height: 40px !important;
        background-size:contain;
        background-repeat: no-repeat;
        filter: brightness(55%);                        
    }
    .menu_item {
        list-style: none;
        
        
        .menu_item_link{
            
            text-transform: uppercase;
            text-decoration: none;
            color:#526276;
            &:hover{
                color: #9d9d9d;
                text-decoration: underline;
            }
        }
    }    
    
}
@keyframes identifier {
    0% {
      top: -95px;
      
    }
    10% {
        top: -85px;
        
    }
    20% {
        top: -75px;
        
    }
    30% {
        top: -65px;
        
    }
    40% {
        top: -55px;
        
    }
    50% {
        top: -45px;
        
    }
    60% {
        top: -35px;
        
    }
    70% {
        top: -25px;
        
    }
    80% {
        top: -15px;
        
    }
    90% {
        top: -5px;
        
    }
    100% {
      top: 0px;
      
    }
  }

@media (max-width: 1060px) {
    .menu_top_header{
        .header_wrapper{
            .menu_list{
                gap: 10px;
            }
        }
    }
    
}
@media (max-width: 1000px) {
    .menu_top_header{
        top: 0;
    position: fixed;        
    background-color:white;        
    width: 100%;    
    z-index: 1;
    border-bottom: 1px solid #d9d9d9;
    .logo {
        width: 100px !important;
        height: 40px !important;
        background-size:contain;
        background-repeat: no-repeat;
        filter: brightness(55%);                        
    }
        .header_wrapper{
            .logo{
                height: 54px !important;
                background-size:contain;
                background-repeat: no-repeat;
            }    
            .menu{
                display: none;
                .menu_list{
                    display: none;
                }
            }
            .burger{
                display: block;
                width: 24px;
                height: 24px;
                background-image: url(../../img/mob-menu.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
                cursor: pointer;
                &.white{
                    background-image: url(../../img/mob-menu.svg);
                }
                &.open{
                    background-image: url(../../img/burger-close.svg);
                }
            }
            .mobile_menu{                                
                background-color:white;
                display: none ;
                position: fixed;
                top: 85px;
                width: 100vw;
                left: 0;
                height: 290px;
                padding: 30px;
                &.toggle{
                    display: block;
                    z-index: 1;
                }
                
                .menu_list{
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(6,auto);
                    display: block;
                    .menu_item{
                        display: flex[];
                        
                        &:hover{
                            
                            color: white;
                        }
                        .menu_item_link{
                           text-decoration: none;                           
                           color: black;
                           transition: 0.3s;
                           padding: 12px 24px;
                           display: block;
                           width: 100%;
                           &:hover{
                            transition: 0.3s;
                            margin-left: 20px;
                            
                        }
                        }
                    }
                }
                
                
            }
            
        }
    }
    
}
